[Unit]
Description=Lock the screen automatically after a timeout

[Service]
Type=simple
User=cyborg
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -time 10 -locker 'i3lock-fancy -f Noto-Sans-UI -- scrot -z'  -detectsleep

[Install]
WantedBy=graphical.target
